@import "../../../style/variables";
@import "../../../style/core";

.entityBrowserActivity {
  border-bottom: 1px solid $border-color;

  padding: 0 $gutter-less 0 $gutter-less;
  @media #{$device-medium} {
    padding: 0;
  }


  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;

  .entityBrowserActivityImg {
    -webkit-flex: initial;
    flex: initial;
    margin-right: $gutter-less;
    width: $thumb-size;

    @media #{$device-medium} {
      margin-right: $gutter;
    }

    @media #{$device-large} {
      margin-right: $gutter;
    }
  }

  .entityBrowserActivityDetails {
    padding: $gutter-less 0 $gutter-less 0;
    @media #{$device-medium} {
      padding: $gutter 0 $gutter 0;
    }
    @media #{$device-large} {
      padding: $gutter 0 $gutter 0;
    }
    -webkit-flex: 1;
    flex: 1;

    .entityBrowserActivityHeader {
      @extend .font-style-subhead-1;
      line-height: 17px;
      padding-top: 0px;
      margin-bottom: 0px;

    }

    .entityBrowserActivityTitle {
      @extend .font-style-caption;
      padding: 0;
      margin: 0;
    }

    .entityBrowserActivityImage {
      margin-top: 10px;
    }

    .entityBrowserActivityBody {
      line-height: 14px;
      padding-top: 0px;
      margin: 3px 0;
    }
  }

  /**
   * activity view
   */
  &.entityBrowserItemActivity {

  }

  /**
   * Activity view
   */
  &.entityBrowserItemActivity {

  }

  /**
   * Generic selected state
   */
  &.selected,
  &.selected:hover{
    background-color:#e3e3e3;
    color:#000;
  }

  /**
   * Generic unread state
   */
  &.unseen,
  &.unseen:hover{
    background-color:#00b2d9;
    color:#fff;
  }
}