@import "../../../style/variables";
@import "../../../style/core";

.entityBrowserComment {
  border-bottom: 1px solid $border-color;

  padding: 0 $gutter-less 0 $gutter-less;
  @media #{$device-medium} {
    padding: 0;
  }


  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;

  /* The users's image */
  .entityBrowserCommentImg {
    -webkit-flex: initial;
    flex: initial;
    margin-right: $gutter-less;
    width: $thumb-size;
    padding: $gutter-less 0 $gutter-less 0;

    @media #{$device-medium} {
      margin-right: $gutter;
      padding: $gutter 0 $gutter 0;
    }

    @media #{$device-large} {
      margin-right: $gutter;
      padding: $gutter 0 $gutter 0;
    }
  }

  /* Comment details including body, date, and attachments */
  .entityBrowserCommentDetails {
    padding: $gutter-less 0 $gutter-less 0;
    @media #{$device-medium} {
      padding: $gutter 0 $gutter 0;
    }
    @media #{$device-large} {
      padding: $gutter 0 $gutter 0;
    }
    -webkit-flex: 1;
    flex: 1;

    .entityBrowserCommentHeader {
      @extend .font-style-subhead-1;
      line-height: 17px;
      padding-top: 0px;
      margin-bottom: 0px;

    }

    .entityBrowserCommentTime {
      @extend .font-style-caption;
      padding: 0;
      margin: 0;
      float: right;
    }

    .entityBrowserCommentBody {
      line-height: 14px;
      padding-top: 0px;
      margin: 3px 0;
    }

    .entityBrowserCommentAttachments {
      margin-top: $gutter-less;
      @media #{$device-medium} {
        margin-top: $gutter;
      }
      @media #{$device-large} {
        margin-top: $gutter;
      }

      img {
        max-width: 100%;
      }
    }
  }

  /**
   * Comment view
   */
  &.entityBrowserItemComment {

  }

  /**
   * Activity view
   */
  &.entityBrowserItemActivity {

  }

  /**
   * Generic selected state
   */
  &.selected,
  &.selected:hover{
    background-color:#e3e3e3;
    color:#000;
  }

  /**
   * Generic unread state
   */
  &.unseen,
  &.unseen:hover{
    background-color:#00b2d9;
    color:#fff;
  }
}