@import "../style/variables";

/**
 * EntityCommentsController styles
 */
.entityComments {
  .entityCommentsForm {
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    -webkit-align-items: stretch;

    margin: auto;


    .entityCommentsFormLeft {
      -webkit-flex: initial;
      flex: initial;

      margin-right: $gutter-less;
      width: $thumb-size;

      @media #{$device-medium} {
        margin-right: $gutter;
      }

      @media #{$device-large} {
        margin-right: $gutter;
      }
    }

    .entityCommentsFormCenter {
      -webkit-flex: 1;
      flex: 1;
      margin-left: $gutter-less;
    }

    .entityCommentsFormRight {
      width: $icon-button-size;

      /* medium or bigger will use a button rather than icon */
      @media #{$device-large} {
        width: $button-min-width;
      }
    }

    input[type=text], textarea {
      width: 100%;
    }
  }
}